/*login page*/
#background-login-manajemen {
	/*background-image: url("../../../images/background_manajemen.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;*/
	background-color: #3C8DBC;
	color: #333333;
}

#background-login-siswa {
	/*background-image: url("../../../images/background_siswa.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;*/
	background-color: #3C8DBC;
	color: #333333;
}

#form-login {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 350px;
	height: 350px;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

#form-login input {
	border-radius: 0;
	margin-bottom: 25px;
}
/*login page*/


.custom-font-1 {
	color: #777777;
}

.scrolling {
	overflow-x: auto;
	white-space: nowrap;
}

#uploadPreview {
	padding-top:18px;
	width:65%;
	height:65%;
	border: none;
}

.monthly {
	border: 1px solid #A9A9A9;
}

#statistik_tugas {
	width: 99%;
	height: 433px;
}

.info-box-content a {
	color: #FFFFFF;
}

.info-box-content a:hover {
	color: #B8C7CE;
}

#navigasi-soal {
	padding: 30px;
}

#navigasi-soal a {
	width: 40px;
	margin-right: 15px;
	margin-bottom: 15px;
	color: #333333;
}

.navigasi-aktif {
	font-weight: bold !important;
	text-decoration: underline !important;
}

#waktu-ujian {
	display: block;
	text-align: center;
}

.soal {
	margin-top: 20px;
	font-size: 20px;
}

.nomor-soal {
	margin-bottom: 30px;
}

.pertanyaan {
	margin-bottom: 30px;
}

.pilihan-ganda {
	margin-bottom: 30px;
}

.pilihan-ganda-detail {
	width: 25px;
	margin-right: 15px;
}